# Environments & Secrets
.env
.env.*
!.env.example

# Git
.git
.gitignore

# Python Cache & Virtual Environments
__pycache__
*.pyc
*.pyo
*.pyd
.venv
venv/
ENV/

# Testing & Coverage
.pytest_cache
.coverage
htmlcov/

# IDE & Editor settings
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
*.log